*{box-sizing: border-box;}
body{ margin: 0 auto; }
.container{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  min-height: 720px;
  margin: 0 auto;
}
nav{
  width: 1200px;
height: 100px;
margin-left:120px;
background-color: #ffffff;
 position: absolute;
display: flex;
flex-direction: row;
align-items: center;
margin-top: 0 ;
margin-bottom: 0;
}
nav h2{
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-top: 0 ;
  margin-bottom: 0;
 }
 
 nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
margin-top: 0 ;
  margin-bottom: 0;
  margin-left:  120px;
padding: 0 ;}

li{
  display: flex;
  flex-direction: row;
  margin-left: 42px;
  }
  nav a{
  color: #3c3f40;
  font-size: 14px;
  font-weight: 400;
  font-family:sans-serif ;
  line-height: 50px;
  text-decoration: none;
  }
  
  .tryfree{
    display: flex;
    width: 116px;
    height: 40px;
    border-radius: 100px;
    background-color: #ff3465;
    border: 1px solid #ff3465;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-left:212px;
    }
    .loginn{
    display: flex;
    align-items: center;
    width: 39px;
    height: 20px;
    color:#ff3465;
    margin-left: 18px;
    text-decoration: none;
    font-family: sans-serif;
    }
    .picture{
    display: flex;
    flex-direction: row;
    }
    .firstpicture{
    width: 720px;
    height: 720px;
    background-color: #321e41;
    }
    .secondpicture{
    width: 720px;
    height: 720px;
    left: 720px;
    background-color: lightblue;
    }
    .block{
    display: flex;
    flex-direction: column;
    width: 529px;
    height: 292px;
    margin-top: 254px;
    margin-left: 165px;
    }
    .contacktus{
    display: flex;
    color: #ffffff;
    width: 80px;
    height: 21px;
    top: 254px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
    }
    h3{
    display: flex;
    color: #ffffff;
    margin-bottom: 0;
    height: 130px;
    
    top: 291px;
    font-size: 54px;
    line-height: 65px;
    margin-top: 16px;
    }
    .p2need{
    color: #ffffff;
    display: flex;
    margin-top: 24px;
    font-size: 20px;
    line-height: 30px;
    font-family: sans-serif;
    }
    .buttonone{
    display: flex;
    flex-direction: row;
    }
    .contactus{
    background-color: #ff3465;
    border: 1px solid #ff3465;
    border-radius: 100px;
    width: 136px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    }
    .visitsupport{
    background-color: #ff3465;
    border: 1px solid #ff3465;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    width: 136px;
    color: #ffffff;
    font-size: 14px;
    }
  
    .container2{
      display: flex;
      max-width:1440px ;
      min-height: 1006px;
     margin: 0 auto;
      background-color: #d4b2b2;
  }
  .main2{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 165px;
    margin-bottom: 589px;  
}
.letschat{
  color: #3c3f40;
  width: 80px;
  height: 21px;
  display: flex;
  font-size: 13px;
  line-height: 21px;
}

.h4-one{
  display: flex;
  margin-top: 16px;
   width: 306px;
   height: 260px;
   font-size: 54px;
   line-height: 65px;
   font-family: sans-serif;
   color: #3c3f40;
   font-weight: 400;
 }
 .main3{
   display: flex;
   flex-direction: column;
   margin-top: 120px;
   margin-left: 264px;
   margin-bottom: 52px;
   margin-right: 174px;
 }
 .first-p{
   display: flex;
   flex-direction: column;
   font-family: sans-serif; 
 }
 .h5support{
 display: flex;
 color: #3c3f40;
 font-size: 42px;
 line-height: 54px;
 font-weight: 400;
 margin-bottom: 0;
 margin-top: 0;
 }
 .texth5{
   display: flex;
   margin-top: 19px;
   font-size: 20px;
   line-height: 30px;
 }
 .checktext{
   display: flex;
   color: #ff3465;
   font-size: 20px;
   line-height: 36px;
   position: absolute;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 98px;
 }
 .texth53{
   display: flex;
   font-size: 20px;
   line-height: 30px; 
 }
 .texth532{
   display: flex;
   position: absolute;
   font-size: 20px;
   line-height: 30px; 
  margin-top: 170px;
   margin-bottom: 0;
 }
 .texth533{
   display: flex;
   position: absolute;
   font-size: 20px;
   line-height: 30px; 
  margin-top: 170px;
  margin-left: 350px;
  color: red;
   margin-bottom: 0;
 }
 .secondp{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #3c3f40; 
}
.h6sales{
  display: flex;
  font-size: 42px;
  line-height: 54px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 77px;
  margin-bottom: 0;
}
.h6text{
  margin-top: 19px;
  font-size: 20px;
  line-height: 30px;
}
.sales{
  color: #ff3465;
  padding-left: 100px;
  text-decoration: none;
}
.thirdp{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #3c3f40;
}
.hsix{
  display: flex;
  font-size: 42px;
  line-height: 54px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 77px;
  margin-bottom: 0;
}
.h62text{
  margin-top: 19px;
  font-size: 20px;
  line-height: 30px;
}
.h6link{
  display: flex;
  position: absolute;
 margin-top: 195px;
  margin-left: 75px;
  margin-bottom: 0;
  text-decoration: none;
  color: #ff3465;
}
.fourth{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #3c3f40;
}

.h2general{
  display: flex;
  font-size: 42px;
  line-height: 54px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 77px;
  margin-bottom: 0;
}
.pgeneral{
  margin-top: 19px;
  font-size: 20px;
  line-height: 30px;
}
.linkgeneral{
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: none;
  color: #ff3465;
}





.container3{
  display: flex;
  max-width:1440px ;
  min-height:840px;
 margin: 0 auto;
  background-color: #ffffff;
}
.container3p{
  display: flex;
  width:291px ;
  background-color: #ffffff;  
  margin-top: 240px;  
  margin-left: 180px;
  color: #3c3f40;
}































@media  ( max-width:800px){
  .container2{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      margin: 0 ;
  }
  .main2{
      display:flex;
      flex-direction:column;
      align-items: center;
      flex-wrap:wrap;
      margin: 0 ;
  }
  .main3{
      display:flex;
      flex-direction:column;
      margin: 0 ;
  }
}
    
    @media  ( max-width:800px){
    .picture{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        margin: 0 auto;
    }
        .container{
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            margin: 0 auto ;    
        }
    
        nav{
            width: 720px;
          height: 100px;
          margin-left:0;
          background-color: #ffffff;
           position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 0 ;
          margin-bottom: 0;
      }
      nav h2{
           display: flex;
           align-items: center;
           margin-left: 0;
           margin-top: 0 ;
           margin-bottom: 0;
      }
  
      nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        align-items: center;
      margin-top: 0 ;
        margin-bottom: 0;
        margin-left:  120px;
      padding: 0 ;}
  li{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
  }
  nav a{
      color: #3c3f40;
      font-size: 14px;
      font-weight: 400;
      font-family:sans-serif ;
    line-height: 50px;
    text-decoration: none;
  }
  .tryfree{
    display: flex;
      width: 116px;
      height: 40px;
      border-radius: 100px;
      background-color: #ff3465;
      border: 1px solid #ff3465;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      margin-left:0;
  } 
  .loginn{
      display: flex;
      align-items: center;
      width: 39px;
      height: 20px;
      color: red;
      margin-left: 180px;
      text-decoration: none;
      font-family: sans-serif;
  }
}










  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  