*{box-sizing: border-box;}
body{ margin: 0 auto; }
.container{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  min-height: 720px;
  margin: 0 auto;
}
nav{
  width: 1200px;
height: 100px;
margin-left:120px;
background-color: #ffffff;
 position: absolute;
display: flex;
flex-direction: row;
align-items: center;
margin-top: 0 ;
margin-bottom: 0;
}
nav h2{
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-top: 0 ;
  margin-bottom: 0;
 }
 
 nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
margin-top: 0 ;
  margin-bottom: 0;
  margin-left:  120px;
padding: 0 ;}

li{
  display: flex;
  flex-direction: row;
  margin-left: 42px;
  }
  nav a{
  color: #3c3f40;
  font-size: 14px;
  font-weight: 400;
  font-family:sans-serif ;
  line-height: 50px;
  text-decoration: none;
  }
  
  .tryfree{
    display: flex;
    width: 116px;
    height: 40px;
    border-radius: 100px;
    background-color: #ff3465;
    border: 1px solid #ff3465;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-left:212px;
    }
    .loginn{
    display: flex;
    align-items: center;
    width: 39px;
    height: 20px;
    color:#ff3465;
    margin-left: 18px;
    text-decoration: none;
    font-family: sans-serif;
    }
    .picture{
    display: flex;
    flex-direction: row;
    }
    .firstpicture{
    width: 720px;
    height: 720px;
    background-color: #321e41;
    }
    .secondpicture{
    width: 720px;
    height: 720px;
    left: 720px;
    background-color: lightblue;
    }
    .block{
    display: flex;
    flex-direction: column;
    width: 529px;
    height: 292px;
    margin-top: 254px;
    margin-left: 165px;
    }
    .contacktus{
    display: flex;
    color: #ffffff;
    width: 80px;
    height: 21px;
    top: 254px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
    }
    h3{
    display: flex;
    color: #ffffff;
    margin-bottom: 0;
    height: 130px;
    
    top: 291px;
    font-size: 54px;
    line-height: 65px;
    margin-top: 16px;
    }
    .p2need{
    color: #ffffff;
    display: flex;
    margin-top: 24px;
    font-size: 20px;
    line-height: 30px;
    font-family: sans-serif;
    }
    .buttonone{
    display: flex;
    flex-direction: row;
    }
    .contactus{
    background-color: #ff3465;
    border: 1px solid #ff3465;
    border-radius: 100px;
    width: 136px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    }
    .visitsupport{
    background-color: #ff3465;
    border: 1px solid #ff3465;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    width: 136px;
    color: #ffffff;
    font-size: 14px;
    }
  
    .container2{
      display: flex;
      max-width:1440px ;
      min-height: 1006px;
     margin: 0 auto;
      background-color: #d4b2b2;
  }
  .main2{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 165px;
    margin-bottom: 589px;  
}
.letschat{
  color: #3c3f40;
  width: 80px;
  height: 21px;
  display: flex;
  font-size: 13px;
  line-height: 21px;
}

.h4-one{
  display: flex;
  margin-top: 16px;
   width: 306px;
   height: 260px;
   font-size: 54px;
   line-height: 65px;
   font-family: sans-serif;
   color: #3c3f40;
   font-weight: 400;
 }
 .main3{
   display: flex;
   flex-direction: column;
   margin-top: 120px;
   margin-left: 264px;
   margin-bottom: 52px;
   margin-right: 174px;
 }
 .first-p{
   display: flex;
   flex-direction: column;
   font-family: sans-serif; 
 }
 .h5support{
 display: flex;
 color: #3c3f40;
 font-size: 42px;
 line-height: 54px;
 font-weight: 400;
 margin-bottom: 0;
 margin-top: 0;
 }
 .texth5{
   display: flex;
   margin-top: 19px;
   font-size: 20px;
   line-height: 30px;
 }
 .checktext{
   display: flex;
   color: #ff3465;
   font-size: 20px;
   line-height: 36px;
   position: absolute;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 98px;
 }
 .texth53{
   display: flex;
   font-size: 20px;
   line-height: 30px; 
 }
 .texth532{
   display: flex;
   position: absolute;
   font-size: 20px;
   line-height: 30px; 
  margin-top: 170px;
   margin-bottom: 0;
 }
 .texth533{
   display: flex;
   position: absolute;
   font-size: 20px;
   line-height: 30px; 
  margin-top: 170px;
  margin-left: 350px;
  color: red;
   margin-bottom: 0;
 }
 .secondp{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #3c3f40; 
}
.h6sales{
  display: flex;
  font-size: 42px;
  line-height: 54px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 77px;
  margin-bottom: 0;
}
.h6text{
  margin-top: 19px;
  font-size: 20px;
  line-height: 30px;
}
.sales{
  color: #ff3465;
  padding-left: 100px;
  text-decoration: none;
}
.thirdp{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #3c3f40;
}
.hsix{
  display: flex;
  font-size: 42px;
  line-height: 54px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 77px;
  margin-bottom: 0;
}
.h62text{
  margin-top: 19px;
  font-size: 20px;
  line-height: 30px;
}
.h6link{
  display: flex;
  position: absolute;
 margin-top: 195px;
  margin-left: 75px;
  margin-bottom: 0;
  text-decoration: none;
  color: #ff3465;
}
.fourth{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #3c3f40;
}

.h2general{
  display: flex;
  font-size: 42px;
  line-height: 54px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 77px;
  margin-bottom: 0;
}
.pgeneral{
  margin-top: 19px;
  font-size: 20px;
  line-height: 30px;
}
.linkgeneral{
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: none;
  color: #ff3465;
}
.container3{
  display: flex;
  max-width:1440px ;
  min-height:840px;
 margin: 0 auto;
  background-color: #ffffff;
}
.container3p{
  display: flex;
  width:291px ;
  background-color: #ffffff;  
  margin-top: 240px;  
  margin-left: 180px;
  color: #3c3f40;
}
.ouroffice{
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  font-size: 13px;
  line-height: 21px;
  font-family:   'Roboto Mono', monospace;
  margin-bottom: 0;
}
.copperhq{
  position: absolute;
  display: flex;
  width: 291px;
  height: 65px;
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 54px;
  line-height: 65px;
 font-weight: 400;
  font-family: sans-serif; 
}
.t{
  display: flex;
  position: absolute;
  width: 143px;
  height: 30px;
  margin-top: 97px;
  font-size: 19px;
  line-height: 30px;
  font-family: sans-serif; 
}
.einfo{
  display: flex;
  position: absolute;
  width: 190px;
  height: 30px;
  margin-top: 127px;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif; 
}
.h301{
  display: flex;
  position: absolute;
  width: 200px;
  height: 30px;
margin-top: 173px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400px;
  font-family: sans-serif;
}
.san{display: flex;
  position: absolute;
  width: 234px;
  height: 30px;
 margin-top:203px ; 
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
}
.container4{
  display: flex;
  max-width:1440px ;
  min-height:600px;
 margin: 0 auto;
  background-color: #56468f;
}
.container4p{
  width:392px ;
  height:342px;
  background-color: #56468f;  
  margin-top: 129px;  
  margin-left: 165px;
  color: #ffffff;
}
.goodbay{
  display: flex;
  width: 144px;
  height: 21px;
  top: 0px;
  font-size: 13px;
  line-height: 21px;
  font-family: sans-serif;
}
.hello-copper{
  display: flex;
  width: 402px;
  height: 65px;
  left: 165px;
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 54px;
  line-height: 65px;
  font-family: sans-serif;
  font-weight: 400;
}

.psection4{
  display: flex;
  width: 392px;
  height: 60px;
  margin-top: 100px;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
  font-weight: 400;
}
.request-demo{
  background-color: #ff3465;
  border: 1px solid #ff3465;
  border-radius: 100px;
  width: 159px;
  height: 40px;
  margin-top: 48px;
  margin-right: 24px;
  font-size: 14px;
   line-height: 14px;
   color: #ffffff;
}
.try-free{
  background-color: #56468f;
  border: 1px solid #ff3465;
  border-radius: 100px;
  width: 116px;
  height: 40px;
  top: 431px;
  color: #ff3465;
  font-size: 14px;
   line-height: 14px;
}
  /*
footer{
  display: flex;
  flex-direction: row;
  max-width:1440px ;
  min-height:550px;
 margin: 0 auto;
  background-color: #321e41;
}
.container5p{
  background-color: #321e41;  
  margin-top: 90px;  
  margin-left: 165px;
  color: #ffffff;
}
.footer-h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 26px;
}
.footer-ul-one{
  list-style: none;
  padding: 0;}
a{ 
   color: #ffffff;
  text-decoration: none;}
.li-footer{
  font-size: 13px;
  line-height: 26px;
}
.li-footer2{
  font-size: 12px;
  line-height: 26px;
}
.li-footer3{
  font-size: 13px;
  line-height: 26px;
}

.li-footer4{
  font-size: 12px;
  line-height: 26px;
}
.li-footer5{
  font-size: 12px;
  line-height: 26px;
}
.li-footer6{
  font-size: 13px;
  line-height: 26px;
}
.li-footer7{
  font-size: 12px;
  line-height: 26px;
}
.li-footer8{
  font-size: 13px;
  line-height: 26px;
}
.container6p{
  background-color: #321e41;  
  margin-top: 95px;  
  margin-left: 42px;
  color: #ffffff;
}
.footer-h3{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: sans-serif;
}
.container7p{
  background-color: #321e41;  
  margin-top: 95px;  
  margin-left: 42px;
  color: #ffffff;
}
.footer-h4{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: sans-serif;
}
.container8p{
  background-color: #321e41;  
  margin-top: 95px;  
  margin-left: 42px;
  color: #ffffff;
}
.footer-h5{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: sans-serif;
}
.container9p{
  width:143px ;
  height:246px;
  background-color: #321e41;  
  margin-top: 95px;  
  margin-left: 42px;
  color: #ffffff;
}
.footer-h6{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: sans-serif;
}
.container10p{
  background-color: #321e41;  
  margin-top: 95px;  
  margin-left: 42px;
  color: #ffffff;
}
.footer-h7{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: sans-serif;
}
@media  ( max-width:800px){
  footer{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      margin: 0  ;
  }
  }
*/
footer{
  display: flex;
  flex-direction: row;
  max-width:1440px ;
  min-height:550px;
 margin: 0 auto;
  background-color: #321e41;
}
.container5p{
  margin: 0;
  color: #ffffff;
}
.contend{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 95px;
  margin-left: 80px;
  width:1200px ;
  color: #ffffff;
  }
  .footer-h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
  }
  .footer-ul-one{
    list-style: none;
    padding: 0;}
  a{ 
     color: #ffffff;
    text-decoration: none;}
    .li-footer{
      font-size: 16px;
      line-height: 26px;
    }
    .li-footer2{
      font-size: 12px;
      line-height: 26px;
    }
    .li-footer3{
      font-size: 13px;
      line-height: 26px;
    }
    .li-footer4{
      font-size: 12px;
      line-height: 26px;
    }
    .li-footer5{
      font-size: 12px;
      line-height: 26px;
    }
    .li-footer6{
      font-size: 13px;
      line-height: 26px;
    }
    .li-footer7{
      font-size: 12px;
      line-height: 26px;
    }
    .li-footer8{
      font-size: 13px;
      line-height: 26px;
    }
    .container6p{
      margin: 0;
     }
     .footer-h3{
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-family: sans-serif;
    }
    .container7p{  margin: 0; }
    .footer-h4{
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-family: sans-serif;
  }
   .container8p{ margin: 0; }











   .footer-h5{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: sans-serif;
}





















    

    
@media  ( max-width:800px){
  .container4{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      margin:0;
  }
  .container4p{
      width:392px ;
      height:342px;
      background-color: #56468f;  
      margin-top: 129px;  
      margin-left: 0;
      color: #ffffff;
  }
  .goodbay{
      font-size: 10px;
      line-height: 19px;
      font-family: sans-serif;
  }
  .hello-copper{
      font-size: 44px;
      line-height: 55px;
      font-family: sans-serif;
      font-weight: 400;
  }
  .psection4{
      font-size: 15px;
      line-height: 25px;
      font-family: sans-serif;
      font-weight: 400;
  }
  }
@media  ( max-width:800px){
  .container3{
      display: flex;
      max-width:800px ;
      min-height:840px;
     margin: 0 auto;
      background-color: #ffffff;
  }
  .container3p{
      display: flex;
      width:291px ;
      background-color: #ffffff;  
     margin-top: 240px;  
      margin-left: auto;
      margin-right: auto;
      color: #3c3f40;
  }
  .ouroffice{
      position: absolute;
      display: flex;
      flex-direction: row;
      margin-top: 0;
      font-size: 13px;
      line-height: 21px;
      font-family:   'Roboto Mono', monospace;
      margin-bottom: 0;
  }
  .copperhq{
      position: absolute;
      display: flex;
      width: 291px;
      height: 65px;
      margin-top: 32px;
      margin-bottom: 0;
      font-size: 54px;
      line-height: 65px;
     font-weight: 400;
      font-family: sans-serif; 
  }
  .t{
      display: flex;
      position: absolute;
      width: 143px;
      height: 30px;
      margin-top: 97px;
      font-size: 19px;
      line-height: 30px;
      font-family: sans-serif; 
  }
  .einfo{
      display: flex;
      position: absolute;
      width: 190px;
      height: 30px;
      margin-top: 127px;
      font-size: 20px;
      line-height: 30px;
      font-family: sans-serif; 
  
  }
  .h301{
      display: flex;
      position: absolute;
      width: 200px;
      height: 30px;
  margin-top: 173px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400px;
      font-family: sans-serif;
  }
  .san{display: flex;
      position: absolute;
      width: 234px;
      height: 30px;
     margin-top:203px ; 
      font-size: 20px;
      line-height: 30px;
      font-family: sans-serif;
  }
  }
@media  ( max-width:800px){
  .container2{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      margin: 0 ;
  }
  .main2{
      display:flex;
      flex-direction:column;
      align-items: center;
      flex-wrap:wrap;
      margin: 0 ;
  }
  .main3{
      display:flex;
      flex-direction:column;
      margin: 0 ;
  }
}
    
    @media  ( max-width:800px){
    .picture{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        margin: 0 auto;
    }
        .container{
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            margin: 0 auto ;    
        }
    
        nav{
            width: 720px;
          height: 100px;
          margin-left:0;
          background-color: #ffffff;
           position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 0 ;
          margin-bottom: 0;
      }
      nav h2{
           display: flex;
           align-items: center;
           margin-left: 0;
           margin-top: 0 ;
           margin-bottom: 0;
      }
  
      nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        align-items: center;
      margin-top: 0 ;
        margin-bottom: 0;
        margin-left:  120px;
      padding: 0 ;}
  li{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
  }
  nav a{
      color: #3c3f40;
      font-size: 14px;
      font-weight: 400;
      font-family:sans-serif ;
    line-height: 50px;
    text-decoration: none;
  }
  .tryfree{
    display: flex;
      width: 116px;
      height: 40px;
      border-radius: 100px;
      background-color: #ff3465;
      border: 1px solid #ff3465;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      margin-left:0;
  } 
  .loginn{
      display: flex;
      align-items: center;
      width: 39px;
      height: 20px;
      color: red;
      margin-left: 180px;
      text-decoration: none;
      font-family: sans-serif;
  }
}










  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  