*{box-sizing: border-box;}
body{ margin: 0 auto; }
.container{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  min-height: 720px;
  margin: 0 auto;
}
nav{
  width: 1200px;
height: 100px;
margin-left:120px;
background-color: #ffffff;
 position: absolute;
display: flex;
flex-direction: row;
align-items: center;
margin-top: 0 ;
margin-bottom: 0;
}



nav h2{
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-top: 0 ;
  margin-bottom: 0;
 }
 
 nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
margin-top: 0 ;
  margin-bottom: 0;
  margin-left:  120px;
padding: 0 ;}