*{box-sizing: border-box;}

body{ margin: 0 auto; }
.container{
  display: flex;
    flex-direction: row;
    max-width: 1440px;
    min-height: 720px;
    margin: 0 auto;
}
nav{
    width: 1200px;
  height: 100px;
  left:180px;
  background-color: #ffffff;
   position: absolute;
  display: flex;
  align-items: center;
  margin-top: 0 ;
  margin-bottom: 0;
}
.h1first{
    display: flex;
    align-items: center;
    margin-left: 45px;
    margin-top: 0 ;
    margin-bottom: 0;
    color: red;
  }
  .h2copper{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 0 ;
    margin-bottom: 0;
 }
 .ul-nav{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 0 ;
    margin-bottom: 0;
    margin-left: 105px;}


    .li1{
        margin-left: 42px;
      }
      .a-nav{
        color: #3c3f40;
        font-size: 14px;
        font-weight: 400;
        font-family:sans-serif ;
      line-height: 50px;
      text-decoration: none;
      }